#ENVIRONMENT
PORT
NODE_ENV

#NEON_PRIMARY_DATABASE
DATABASE_URL
DB_POOL_SIZE

#UPSTASH_REDIS
REDIS_URL
REDIS_TOKEN

#HASING_SECRETS
SALT_ROUNDS
OTP_EXPIRY_MINUTES
RESET_OTP_EXPIRY_MINUTES
JWT_ACCESS_SECRET
JWT_REFRESH_SECRET
JWT_ACCESS_TOKEN_EXPIRY
JWT_REFRESH_TOKEN_EXPIRY

#MAIL_SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=